@use 'src/variables';
@use 'src/index';
@use 'src/map';
@use 'src/prep';
@use 'src/others';
@use 'src/header';
@use 'src/footer';
@use 'src/app';
@use 'src/list';

html {
    font-family: var(--font-family);
    height: 100%;
    box-sizing: border-box;
    background-color: var(--bg-color);
    color: var(--fg-color);
    scroll-padding-top: 5rem;
}

body {
    margin: 0;
    padding-bottom: 60px;
    /* フッターの高さ分だけ下部にパディングを追加 */
    padding-left: .5rem;
    padding-right: .5rem;
}

main {
    margin-top: auto;
    height: auto;
    min-height: 700px;
    padding-top: 1rem;
    padding-bottom: 5rem;
}

.wallpaper {
    width: 100vw;         // ビューポート幅に合わせる
    max-width: 100%;      // 親要素をはみ出さない
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: var(--wallpaper-opacity); // 背景として薄く表示
    object-fit: cover;    // 画像が引き伸ばされずにカバー
}