@use 'src/variables';
@use 'src/index';
@use 'src/map';
@use 'src/header';
@use 'src/footer';

html {
    font-family: var(--font-family);
    height: 100%;
    box-sizing: border-box;
    background-color: var(--bg-color);
    color: var(--fg-color);
}

body {
    margin: 0;
    padding-bottom: 60px;
    /* フッターの高さ分だけ下部にパディングを追加 */
    padding-left: .5rem;
    padding-right: .5rem;
}

main {
    margin-top: auto;
    height: auto;
    min-height: 900px;
    padding-bottom: 5rem;
}