.app-badge {
    text-align: center;
    margin-top: .8rem;
    margin-bottom: .4rem;

    a {
        display: flex;
        align-items: center; // 上下中央寄せ
        justify-content: center; // 横並び中央寄せ
        gap: .6em; // 画像間の隙間
        overflow: hidden;
        vertical-align: middle;
        pointer-events: none;

        img.app-icon {
            width: 70px;
            height: 70px;
            object-fit: contain;
            border-radius: 22.7%;
            pointer-events: auto;
        }

        img.apple-badge {
            width: 112px;
            height: 41px;
            object-fit: contain;
            margin: 0;
            pointer-events: auto;
        }
    }
}

.app-badge-list {
    margin-top: .8rem;
    margin-bottom: .4rem;
    display: flex;
    align-items: center; // 上下中央寄せ
    justify-content: center; // 横並び中央寄せ
    gap: 3rem; // 画像間の隙間

    a {
        overflow: hidden;
        vertical-align: middle;
        pointer-events: none;

        img.app-icon {
            width: 70px;
            height: 70px;
            object-fit: contain;
            border-radius: 22.7%;
            pointer-events: auto;
        }
    }
}