.list-wrapper {
    margin: 2.5rem auto 2rem auto;
    background: var(--bg-color-tp);
    border-radius: 16px;
    box-shadow: 0 2px 16px var(--list-item-shadow-color);
    padding: 0.5rem;

    h2,
    h3 {
        color: var(--fg-color);
        font-size: 1.3rem;
        margin: .7rem 0;
        letter-spacing: 0.03em;
        text-align: center;
    }

    >ul {
        display: grid;
        list-style: none;
        padding: 0.5rem 0;
        margin: 0;

        >li {
            margin: 0;
            border-radius: 10px;
            padding: 0.8rem 0.3rem;
            box-shadow: 0 1px 6px var(--list-item-shadow-color);
            background: var(--bg-color);
            color: var(--fg-color);
        }

        a {
            text-decoration-line: none;
            color: var(--expo-blue);
        }
    }

    .list-note {
        display: block;
        color: #888;
        font-size: 0.97em;
        margin-top: 0.2em;
    }
}