.prep-list {
    gap: 1.3rem;

    >li {
        strong {
            font-weight: 600;
            font-size: 1.07em;
        }

        ul,
        ol {
            margin: 0.5em 0 0.5em 1.2em;
            padding-left: 1.2em;
        }

        a {
            color: var(--expo-blue, #0080FF);
            text-decoration-line: none;
            word-break: break-all;
        }
    }

    .important {
        color: #e60012;
    }
}
