:root {
    --font-family: 'Noto Sans JP', sans-serif;
    --expo-blue: #0080FF;
    --expo-red: #e60012;
    --footer-font-size: 14px;
    --footer-fg-color: #fff;
    --footer-bg-color: #333;
    --bg-color: #fff;
    --fg-color: #333;
    --list-item-shadow-color: rgba(0, 0, 0, 0.3);
    --app-icon-border-color: #9999;
    --wallpaper-opacity: 0.125;
    --apple-badge-mask: url('/expo/src/apple-badge-mask.svg');
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #181A1B;
        --fg-color: #fff;
        --list-item-shadow-color: rgba(0, 0, 0, 0.9);
        --app-icon-border-color: #444;
        --wallpaper-opacity: 0.05;
    }
}